RewriteEngine On
RewriteCond %{HTTP:Front-End-Https} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.loosemaster\.ru$ [NC]
RewriteRule ^(.*)$ https://loosemaster.ru/$1 [R=301,L]